/* Variables */
:root {
	--color1: #8A6A00;
	--color2: #FFF2C2;
	--color3: #BF9E30;
	--color4: #FFD340;
	--color5: #947100;
}

/* Formatear displays */
.grande{
    display: none;
}

.mediano{
    display: none;
}

.pequeño{
    display: none;
}

.impreso{
	display: none;
}

/* CABECERAS, MENU INDICE Y PIE*/
header figure{
	display: block;
	text-align: center;
}

header, #menu, footer{
    background-color: var(--color2);
    color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;
}

header h1, #menu h2, footer, header nav {
    text-align: center;
}

.migas{
    font-size: 1em;
}

.migas a, #menu a, footer a, main a, #main-mapaWeb a, #menu h2{
    color: var(--color1);
}

.migas a:hover, #menu a:hover, footer a:hover, main a:hover {
    color: var(--color3);
}
/* Navegador Horizontal */
#navegador a {
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    padding: 7px;
}

#navegador {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: var(--color2);
    display: inline-block;
}

#navegador li{
    float: left;
}

#navegador a:hover, #navegador a:active {
    background-color: var(--color4);
}

/* MAIN */
main{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-articulo {
    color: var(--color1);
    font-size: 2em;
    text-align: center;
}

#error h1{
    color: var(--color1);
    font-size: 2em;
}

main h2{
    color: var(--color5);
    font-size: 2em;
}

main li{
    font-size: 1.5em;
}

.mapa li, #menu, .articulo li, .formulario li{
    font-size: 1em;
}

.mapa figure, .formulario h2{
    text-align: center;
}

main dt{
    color: var(--color5);
}

main dl {
	margin-bottom: 5px;
}

main p, main dd {
    text-align: justify;
}

/* CITA */
blockquote {
    font-family: 'Times New Roman', Times, serif;
    color: var(--color5);
    white-space: pre;
}

/* TABLAS */
/* Espaciado y distribución */
table {
    table-layout: fixed;
    width: 100%;
}

thead th:nth-child(1) {
    width: 40%;
}

thead th:nth-child(2) {
    width: 40%;
}

th, td {
    padding: 20px;
}

/* Tipografía */
thead th, tfoot th, caption {
    font-family: 'Times New Roman', Times, serif;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

caption {
    font-variant: small-caps;
}

/* Bordes */
table, tr, th, td {
    border-collapse: collapse;
    border: 3px solid var(--color1);
}

/* Fondo*/
table {
    background-color: var(--color1);
}

thead, tfoot {
    color: var(--color2);
}

caption {
	color: var(--color1);
}

/* Estilo cebra */
tbody tr:nth-child(odd) {
    background-color: #FFF8E0;
}

tbody tr:nth-child(even) {
    background-color: var(--color2);
}

/* Hover */
tbody tr:hover {
    background-color: var(--color4);
}

/* FORMULARIOS */
.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;

}
.form-style-5 input[type="text"],
.form-style-5 input[type="range"],
.form-style-5 input[type="password"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="range"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: var(--color2);
	color: var(--color1);
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"],
.form-style-5 input[type="reset"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: var(--color1);
	margin: 0 auto;
	background: var(--color2);
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid var(--color1);
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover,
.form-style-5 input[type="reset"]:hover
{
	background: var(--color4);
}

/* ICONOS */
.form-style-5 input[type="email"]::placeholder,.form-style-5 input[type="text"]::placeholder {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}
/*
.form-style-5 input[type="text"]::placeholder {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}
*/

.form-style-5 textarea::placeholder {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}
.form-style-5 input[type="search"]::placeholder {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}
.form-style-5 input[type="password"]::placeholder {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}
.form-style-5 input[type="number"]::placeholder {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}

/* MODO IMPRESO */
 @media print {

	@page{
		size: A4 portrait;
	}

	.impreso{
		display: inherit !important;
	}

	header figure {
		display: block;
		text-align: left;
		filter: brightness(5%);
	}

	header, #menu, footer{
		background-color: #fff;
		color: #000;
	}

	header h1, #menu h2, footer {
		text-align: left;
	}

	.migas, #navegador, main figure{
		display: none;
	}
	
	#menu a, footer a, main a, #main-mapaWeb a{
		color: #000;
	}
	
	main h2, main dt, #menu h2 {
		color: #000;
		font-size: 14pt;
		text-align: left;
	}
	
	#error h1, .titulo-articulo{
		color: #000;
		font-size: 16pt;
		text-align: left;
	}
	
	main li, .mapa li, #menu, .articulo li {
		font-size: 14pt;
	}
	
	main p, main dd {
		text-align: left;
	}

	blockquote, footer p {
		display: none;
	}

	#menu a[href]:after, main a[href]:after, #main-mapaWeb a[href]:after {
		content: " (" attr(href) ")";
	}

	main dd{
		margin-bottom: 1cm;
	}

	.salto-linea{
		page-break-before: always;
	}

	/* TABLAS */

	/* Bordes */
	table, tr, th, td {
		border: 3px solid #000;
	}

	/* Fondo*/
	table, tbody {
		background-color: #fff;
	}

	thead, tfoot, caption {
		color: #000;
	}

 }
